<h1>Sign in or <%= link_to "Register", new_user_url %></h1>

<%= render 'shared/login_form', 
  action_url:    session_url, 
  patch:         false, 
  submit_button: "Sign In",
  verify:        false%>
<br />
<br />
<p><%= link_to "Forgot Password?" %></p>
