<h1>Add New Event</h1>
<form action="<%= events_url %>" method="post" accept-charset="utf-8">
  <label for="">Title</label>
  <input type="text" name="event[title]" id="" value="" />

  <label for="">Location</label>
  <input type="text" name="event[location]" id="" value="" />

  <label for="">Description</label>
  <textarea name="event[description]" id= rows="8" cols="40"></textarea>

  <label for="">Date</label>
  <input type="date" name="event[date]" id="" value="" />

  <label for="">Time</label>
  <input type="time" name="event[time]" id="" value="" />
</form>
