/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
bodyz * {
  border:  solid;
  padding: 3px;
}

body {
  background-color: #99FFFF;
  backgrounds: url('stage.jpg') no-repeat fixed;
  size: cover;
}

#content {
  width:   75%;
  margin:  0 auto;
  padding: 40px;
  border-radius: 20px;
  background-color: white;
}

#errors {
  color: red;
}

#flash {
  padding-top: 10px;
}

#header {
  position: fixed;
  width:    100%;
  top:      0px;
  left:     0px;
  height:   50px;
  margin:   0px;
  background-color: #E80000;
}

label {
  display: block;
}

li a {
  color: white;
}
.nav_link {
  padding: 5px;
  border-style: solid;
  border-color: white;
  height: 20px;
  text-decoration: none;
  displayz: inline-block;
}

.nav_link:hover, button:hover {
  background: white;
  color: black;
}

#nav_links {
  display: inline;
  list-style: none;
}

#nav_links li {
  display: inline;
}

#nav_top {
  float:   left;
  margin:  auto;
  padding: 15px;
  top:     10px;
  color:   white;
}
#registration.label {
  float: right;
}

#sign_out_button {
  float:  right;
  top:    0px;
  right:  0px;
  margin: 0px;
  color:  white;
  height: 50px;
  color:  black;
}

#sign_out_buttons {
  color:  white;
  width:  300px;
  height: 300px
}

#submit_button {
  width: 170px;
}

#submit_login {
  border-radius: 0px;
  display:       block;
  padding:       6px;
  float:         right;
}
